body{
    background-color: rgb(255,255,255);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:6%;
}
.image{
    width:370px;
    margin-left: 35%;
    margin-top:10px;
}